:root {
    --primary-color: #5703FF;
    --secondary-color: #03FFEF;
    --accent1-color: black;
    --accent2-color: #0381FF;
    --headingfont: Georgia, 'Times New Roman', Times, serif;
    --bodyfont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyfont);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--headingfont);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

h2 {
    text-align: center;
    padding: 16px;
    width: 100%;
    background-color: var(--secondary-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    width: 800px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: black;
}

.hero article img {
    float: right;
    width: 125px;
}

.socialmedia img {
    width: 50px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 1000px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: cadetblue;
    text-decoration: underline;
}

.history img {
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
}

.history {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.history h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 10px;
}

footer {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

footer p {
    grid-column-start: 3;
    grid-column-end: 4;
}

.socialmedia {
    grid-column-start: 4;
    grid-column-end: 5;
    padding: 10px;
}

.adventure img {
    width: 110px;
    height: 82.5px;
}

.adventure {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;

}

.adventure h2 {
    padding: 10px;
    grid-column: 1/6;
}

.adventure figure {
    margin: 1rem;
    display: flex;
    flex-flow: column;
    padding: 10px;
}

figcaption {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font: var(--bodyfont);
    padding: 3px;
    text-align: center;
}

.about p {
    text-align: center;
    padding: 0;
    margin: 0;
    font: var(--bodyfont);
}

.info {
    display: flex;
    gap: 30px;
}

.user {
    display: flex;
    flex-flow: column;
    margin-top: 15px;
    font: var(--bodyfont);
    gap: 5px;
}

.map {
    margin-left: 20rem;
    margin-top: 15px;
}

input {
    width: 250px;
}

.multiple {
    display: flex;
    flex-flow: row;
    padding: 5px;
    margin: 5px;
}

textarea {
    width: 300px;
    height: 100px;
}

.textbox {
    text-align: left;
    display: flex;
    flex-flow: column;
}

.circular {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
    vertical-align: middle;
}

.circular:checked {
    background-color: #000;
    border-color: white;
}

.circular::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    background-color: #fff;
}

.textbox label {
    margin: 5px;
    padding: 1px;
}

.check2 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 350px;
}

.check2 input {
    max-width: 25px;
    max-height: 25px;
}

button {
    width: 300px;
    height: 35px;
}

.employee img {
    width: 220px;
    height: 165px;
}

.employee {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;

}

.employee h2 {
    padding: 10px;
    grid-column: 2/6;
    width: 840px;
}

.employee figure {
    margin: 1rem;
    display: flex;
    flex-flow: column;
    padding: 10px;
}

.employee figcaption {
    width: 220px;
}

.about h1 {
    text-align: center;
    padding: 16px;
    margin: 20px;
    width: 100%;
    height: auto;
    position: relative;
}

.art {
    position: relative;
}

.art img {
    display: block;
    max-width: 840px;
}

.degree {
    transform: rotate(-30deg);
}

.degree h1 {
    top: 0px;
    right: 660px;
    width: 180px;
    padding: 0px;
    margin: 0;
    transform: translateY(-150px)
}

.degree h2 {
    position: absolute;
    top: 450px;
    left: 350px;
    width: 350px;
    padding: 0;
}

.show {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    font: var(--bodyfont);
    font-size: larger;
    padding: 60px;
    margin: 10px;
}

.show img {
    width: 300px;
    height: auto;
}

.go {
    position: absolute;
    transform: translateY(-350px);
    right: 500px;
    display: flex;
    flex-flow: row-reverse;
    background-color: var(--accent2-color);
    width: 500px;
}

.go p {
    width: 200px;
    height: 200px;
    background-color: var(--secondary-color);
}

.go a {
    position: absolute;
    width: 300px;
    height: 10;
    transform: rotate(-30deg);
    right: 200px;
    top: 100px;
    font-size: larger;
}

.offers {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-color);
    text-align: center;
    width: 750px;
    transform: translate(50px)
}

.offers img {
    width: 240px;
    height: 180px;
    padding: 10px 5px 5px 0px;
}

.offers p {
    background-color: var(--accent2-color);
    transform: translate(-50px, 50px)
}

.contact {
    text-align: center;
    font-size: larger;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
}

td,
th {
    border: 1px solid black;
    padding: 8px;
}