:root {
    --primary-color: #5703FF;
    --secondary-color: #03FFEF;
    --accent1-color: black;
    --accent2-color: #0381FF;
    --headingfont: Georgia, 'Times New Roman', Times, serif;
    --bodyfont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyfont);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--headingfont);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

h2 {
    text-align: center;
    padding: 16px;
    width: 100%;
    background-color: var(--secondary-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    width: 800px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: black;
}

.hero article img {
    float: right;
    width: 125px;
}

.socialmedia img {
    width: 50px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 1000px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: cadetblue;
    text-decoration: underline;
}

.history img {
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
}

.history {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.history h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 10px;
}

footer {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

footer p {
    grid-column-start: 3;
    grid-column-end: 4;
}

.socialmedia {
    grid-column-start: 4;
    grid-column-end: 5;
    padding: 10px;
}

.adventure img {
    width: 110px;
    height: 82.5px;
}

.adventure {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;

}

.adventure h2 {
    padding: 10px;
    grid-column: 1/6;
}

.adventure figure {
    margin: 1rem;
    display: flex;
    flex-flow: column;
    padding: 10px;
}

figcaption {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font: var(--bodyfont);
    padding: 3px;
    text-align: center;
}

.about p {
    text-align: center;
    padding: 0;
    margin: 0;
    font: var(--bodyfont);
}

.info {
    display: flex;
    gap: 30px;
}

.user {
    display: flex;
    flex-flow: column;
    margin-top: 15px;
    font: var(--bodyfont);
    gap: 5px;
}

.map {
    margin-left: 20rem;
    margin-top: 15px;
}

input {
    width: 250px;
}

.multiple {
    display: flex;
    flex-flow: row;
}

textarea {
    width: 300px;
    height: 100px;
}

.textbox {
    text-align: left;
    display: flex;
    flex-flow: column;
}

button {
    width: 300px;
    height: 35px;
}

.employee img {
    width: 220px;
    height: 165px;
}

.employee {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;

}

.employee h2 {
    padding: 10px;
    grid-column: 2/6;
    width: 840px;
}

.employee figure {
    margin: 1rem;
    display: flex;
    flex-flow: column;
    padding: 10px;
}

.employee figcaption {
    width: 220px;
}

.about h1 {
    text-align: center;
    padding: 16px;
    margin: 20px;
    width: 100%;
    height: auto;
    position: relative;
}